[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-multiselectfield = "*"
gunicorn = "*"
pip = "*"
django-bootstrap-v5 = "*"
python-dotenv = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
