{% extends "polls/base.html" %} {% block content %} {% load polls_extras %}
<span></span>{% if questions %}

<section class="get-in-touch">
  <h1 class="title">Preveri rezultate</h1>

  <form
    class="contact-form row"
    method="post"
    action="{% url 'storeResults' %}"
  >
    {% csrf_token %} {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %} <br />
    <p><strong>Podvojeni vnosi (preveri in odstrani v adminu):</strong></p>
    <ul>
    {% for entry in duplicatedEmails %}
    <li>{{entry}}</li>
    {% endfor %}</ul><br /><br />


    <p><strong>Preveč obkljukanih možnosti:</strong></p>
    {% if selectedTooMany|length > 0 %}
    <ul>
    {% for entry in selectedTooMany %}
    <li>{{entry.userName}} - {{entry.userEmail}} je pri vprašanju 
      {% for question in questions %}
      {% if question.id == entry.question_id %}
      <strong>{{question.question}}</strong>
      {% endif %}
      {% endfor %} izbral/a {{entry.countSelections}} namesto {{entry.max_choices} odgovorov.}</li><br />
    {% endfor %}</ul>
    {% else %}
    <p>Vsi igralci so označili pravilno. Hudo.</p>
    {% endif %}
    <br /><br />
    

    {% for question in questions %}
    <div>
      <h3 class="subtitle_question p_align">
        Vprašanje {{forloop.counter}}: {{question.question}}
      </h3>
      {% if question.question_grade_description != None %}
      <p class="p_align">
        Opis točkovanja: {{question.question_grade_description}}
      </p>
      {% endif %}
      <p class="p_align">Točke: {{question.question_grade}}</p>
      {% if question.question_grade_partials != None %}
      <p class="p_align">Delne točke: {{question.question_grade_partials}}</p>
      {% endif %} {% if question.question_grade_description != None %}
      <p class="p_align">Rang: {{question.question_grade_range}}</p>
      {% endif %} {% if question.max_choices != None %}
      <p class="p_align">Max izbir: {{question.max_choices}}</p>
      {% endif %} {% for grade in grades %}
      <span></span>{% if question.id == grade.question_id %}
      <p class="p_align">Pravilen rezultat: {{grade.question_answer}}</p>
      {% endif %} {% endfor %}<br />
      {% for answer in answers %} {% if question.id == answer.question_id %}

      <div class="answer-box">
      <p class="p_align">{{answer.userName}} - {{answer.value}} {% if answer.questionType == "multipleselect" %}
         Število oddanih držav: {{answer.countSelections}} 
        {% endif %} </p>
      <div>
        <span>Število točk: </span>
        <input
          type=" number"
          class="input-text js-input"
          id="{{answer.id}}"
          name="{{answer.id}}"
          value="{{answer.grade}}"
          style="width: 25%; min-width: 200px;"
        />
      </div>
      <br />
    </div>

      {% endif %} {% endfor %}
    </div>
    {% endfor %} {% else %}
    <p>No polls are available.</p>
    {% endif %}
    <br /><br />

    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Shrani ocene" />
    </div>
  </form>
</section>

{% endblock %}
