{% extends "polls/base.html" %} {% block content %}

<section class="get-in-touch">
  <h1 class="title">Eurovision Fantasy 2025</h1>
  <h2 class="title">Nova kuhinjska edicija</h2>

  <br /><br />
  <p>Evrovizijski pozdrav na največji zabavi tega leta!</p>
  <p class="text-justify">
    Smo <b><a href="mailto:barbara.vidmajer@gmail.com">Barbara</a></b>
    <i>[evrovizijska odposlanka z insajderskimi informacijami]</i>,
    <a href="mailto:crt.jaklic@gmail.com"><b>Črt</b></a>
    <i>[kuhinjski mojster vprašanj in ocenjevanja]</i> in
    <a href="mailto:matej@matejmeglic.com"><b>Matej</b></a>
    <i
      >[ki realno nima nič zraven, samo všeč mu je in je napisal ta app, pa se
      zdaj nekaj štuli]</i
    >
    in že drugo leto zapored se trudimo za dvig navdušenja ob evrovizijskem tekmovanju na povsem nesluten nivo.
  </p>
  <p class="text-justify">
    ESC Fantasy je tekmovanje, kjer vsak (ne)poznavalec pokaže svoje mavrične barve in se poteguje za večno čast in slavo. O zmagovalcu tega tekmovanja se govori vse leto, izkušnje veljajo, stavnice kar pokajo od energije, predpredzadnji iz prejšnjega leta pa v upanju na boljšo uvrstitev celo spišejo aplikacijo, da bi le lahko zadovoljili bogove Evrovizije.
  </p>
  <p class="text-justify">
    Vaša naloga je, da svoje kavč komentarje pretvorite v svoje končne napovedi za vse tri evrovizijske večere, posledično pa boste za vse pravilne odgovore prejeli točke. V obeh polfinalih je potrebno napovedati finaliste in odgovoriti na dodatno vprašanje, v finalu pa vas čaka širši nabor vprašanj. Totalno veselje!
  </p>
<ol>
  <li>Najboljše uvrščeni posamezniki in posameznice lanskega tekmovanja:</li>
  <li>mesto: Ana Bešter (173 točk)</li>
  <li>mesto: Ksenija Vidmajer (172 točk)</li>
  <li>mesto: Bernarda Vidmajer (171 točk)</li>
</ol>
  <br />
  <h3 class="title">Pravila igre</h3>
  <ul class="text-justify">
    <li>Nujno vpiši svoje ime oz. vzdevek ter pravilen e-mail, da se najdeš med rezultati.</li>
    <li>Tvoj e-mail nikoli ne bo viden na internetu, služi samo kot ključ za štetje točk in za obvestila.</li>
    <li>Pozorno sledi navodilom, poglej si točkovanje vsakega vprašanja in klikni izbran odgovor (ali več njih).</li>
    <li>Napovedi oddaj do konca televotinga - drugače ne bodo štele.</li>
    <li>Posamičen kviz izpolniš le in samo enkrat.</li>
  </ul>
  <br />
  <p class="text-justify">
    Po oddanih napovedi počakaj na svoj nabirek točk, ki bo znan nekaj trenutkov po uradni razglasitvi <a href="/results">tukaj</a>. Končnega zmagovalca čaka nagrada s strani organizacijskega odbora (namig: nagrada pride direktno iz evrovizijske Švice!), vsi ostali pa se lahko s svojim rezultatom hvalite prijateljem, znancem in neznancem.
  </p>
  <p class="text-justify">
    Dodatna opomba: ker poleg splošnega zmagoslavja šteje predvsem to, da premagaš sebi ljube ljudi, lahko v vnosu vpišeš tudi ime skupine, da se boste lažje našli. Tukaj so kode vnaprej prijavljenih skupin: <i>NM / carmenmanet / outbrain / kukovnica / velesovo / RTV</i>, seveda pa so dobrodošle tudi vse ostale družbe.
  </p>

  <br />
  <h3 class="title">Čas za tekmovanje!</h3>


  <div class="contact-form row">
    <div class="form-field col-lg-12">
      <a href="{% url 'vote' %}">
        <input
          class="submit-btn"
          type="submit"
          value="Oddaj svoje napovedi!"
        />
      </a>
    </div>
  </div>

  <br /><br />

  <div class="contact-form row">
    <a href="/results"
      ><input class="submit-btn" value="Kje so rezultati?"
    /></a>
  </div>

  <br /><br />

  <div class="contact-form row">
    <a href="/finale"
      ><input class="submit-btn" value="Kje so rezultati (samo finale)?"
    /></a>
  </div>
</section>

{% endblock %}
