{% extends "polls/base.html" %} {% block content %}

<section class="get-in-touch">
  <h1 class="title">Eurovision Fantasy</h1>
  <h2 class="title">Edine volitve, ki zares štejejo</h2>

  <br /><br />
  <p>Zdravo, hvala ker si se oglasil/a na tej zabavi.</p>
  <p class="text-justify">
    Smo <b><a href="mailto:barbara.vidmajer@gmail.com">Barbara</a></b>
    <i>[idejna vodja za fantasy in kandidatka za prva mesta]</i>,
    <a href="mailto:crt.jaklic@gmail.com"><b>Črt</b></a>
    <i>[mojster vprašanj in ocenjevanja]</i> in
    <a href="mailto:matej@matejmeglic.com"><b>Matej</b></a>
    <i
      >[ki realno nima nič zraven, samo všeč mu je in je napisal ta app, pa se
      zdaj nekaj štuli</i
    >
    in upamo, da bomo lahko pripomogli k dvigu navdušenja ob Evrovizijskem
    tekmovanju na nov, nesluten nivo.
  </p>
  <p class="text-justify">
    Konec koncev gre za nesmrtno slavo, večjo kot jo premorejo skupine, ki
    dosežejo nič točk. O zmagovalcu tega tekmovanja se govori vse leto, izkušnje
    veljajo, stavnice kar pokajo od energije, zadnji iz prejšnjega leta pa v
    upanju na boljšo udeležbo celo spišejo aplikacijo, da bi le lahko
    zadovoljili bogove Evrovizije.
  </p>
  <p>Dobr smo se spomn'li, ane?</p>
  <br />
  <h3 class="title">Pravila igre</h3>
  <p class="text-justify">Kako poteka glasovanje:</p>
  <ul class="text-justify">
    <li>Nujno vpiši svoje ime ali vzdevek da se najdeš med rezultati</li>
    <li>
      Tvoj email nikoli ne bo viden na internetu, služi samo kot ključ za štetje
      točk in za obvestilo o naslednjem kvizu.
    </li>
    <li>
      Ekipa je dodatno polje, da se lahko s skupino lažje najdete med rezultati
    </li>
    <li>
      Pozorno sledi navodilom aplikacije, poglej si točkovanje in izberi pravi
      (ali primerno število) odgovorov.
    </li>
    <li><h3>Glas oddaj do konca televotinga - drugače ne bo štel.</h3></li>
    <li>
      Posamičen kviz izpolniš
      <h3>samo enkrat.</h3>
    </li>
  </ul>
  <br />
  <p class="text-justify">
    Počakaj na končno oceno, ki bo znana nekaj trenutkov po uradni razglasitvi
    <a href="/results">tukaj</a>.
  </p>
  <p class="text-justify">
    S svojim rezultatom se lahko celo leto hvališ prijateljem in znancem. Bonus
    točke, če koga ustaviš na ulici in mu poveš, kakšen je tvoj dosežek v
    fantasyju.
  </p>

  <br />
  <h3 class="title">Pejd na glasovanje</h3>

  <div class="contact-form row">
    <div class="form-field col-lg-12">
      <a href="{% url 'vote' %}">
        <input
          class="submit-btn"
          type="submit"
          value="Glasuj, kaj te je strah?"
        />
      </a>
    </div>
  </div>

  <br /><br />

  <div class="contact-form row">
    <a href="/results"
      ><input class="submit-btn" value="Kje so rezultati?"
    /></a>
  </div>
</section>

{% endblock %}
